<div class="whitespace-pre-line break-words overflow-wrap-anywhere leading-relaxed p-0 sm:p-1 min-w-0 w-full text-sm sm:text-base" id="chunks_container" data-controller="loading">
  <!-- chunks are inserted here by turbo stream -->
  <%= response %>
</div>