<div id="temp_message" data-controller="tts">
  <div class="flex justify-end mb-4">
    <div class="max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl px-4 py-3 rounded-2xl shadow-lg bg-indigo-900/60 border border-indigo-800/30 bg-amber-600/90 border border-amber-500/50 rounded-bl-none text-white">
      <div class="hidden" id="sentence_chunks_container" data-tts-target="chunks"></div>
      <div class="break-words overflow-wrap-anywhere leading-relaxed p-2 flex flex-wrap min-w-0 w-full" id="chunks_container" data-controller="loading">
        <!-- chunks are inserted here by turbo stream -->
      </div>
      <div class="flex items-center justify-between mt-3 pt-2 border-t border-white/20 p-2">
        <div class="flex items-center space-x-2">
          <div class="w-6 h-6 rounded-full flex items-center justify-center bg-indigo-500">
            <span class="text-xs font-medium text-white">AI</span>
          </div>
          <span class="text-xs font-medium text-white/90">Assistant</span>
        </div>
        
        <div class="flex items-center space-x-2">
          <div class="text-xs text-white/70 ml-2">
            <%= Time.now.strftime('%H:%M') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

