<div id="form-messages" class="max-w-3xl mx-auto mb-6 p-4 rounded-lg <%= type == 'success' ? 'bg-green-500/20 border border-green-500/50 text-green-300' : 'bg-red-500/20 border border-red-500/50 text-red-300' %>">
  <%= message %>
</div>