<% content_for :title, "Editing birth chart" %>

<h1>Editing birth chart</h1>

<%= render "form", birth_chart: @birth_chart %>

<br>

<div>
  <%= link_to "Show this birth chart", [:app, @birth_chart] %> |
  <%= link_to "Back to birth charts", app_birth_charts_path %>
</div>
